*{
    scroll-behavior: smooth;
}

.header-main{
    height: 90px;
    border-bottom:0.1px solid #E7E7E4;
    background-color: black;
}
.header-list{
    position: relative;
    right: 10px;
}
.header-list ul{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.header-list li{
    padding-left: 40px;
    padding-right: 20px;
}
.header-list li:hover{
    transform: scale(1.1);
}
button:hover{
    transform: scale(1.1);
}

.contentbox{
    position: relative;
    justify-content: center;
    height:fit-content;
    background-color: rgb(0, 0, 0);
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.427);
    display: flex;
    margin: 0;
    max-width: 1503px;
}
.wwe{
    align-items: center;
    height: 90.2vh;
}
.contentbox-one-1{
    padding-left: 100px;
    width: 50%;
    height: 600px;
    display: inline-block;
    justify-content: center;
    align-items: center;

}
.contextbox-one-1-img{
    margin-top: 25px;
    background-image: url('../images/homepage/gymhomepg.jpg');
    height: 90%;
    width: 90%;
    background-size: cover;
    border-radius: 15px;
}
.blk-button{
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    color: white;
    padding: 7px;
}
.dummy{
    background-color: white;
}
.wht-button{
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.559);
    border-radius: 3px;
    color: rgb(0, 0, 0);
    padding: 7px;
}
.login_and_signup{
    width: 100%;
    justify-content: space-evenly;
}
.login_and_signup button{
    height: 50px;
    width: 100px;
    font-size: large;
}
.box2{
    text-align: center;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
}
.boxinsidecb{
    height: 380px;
    width: 80%;
 
    display: flex;
    flex-wrap: wrap;
}
.innerboxx{
    
    display: flex;
    height:auto;
    flex-wrap: wrap;
    width:275px;
    font-size: 0.5em;
    margin-left: 50px;
   
}
.innerboxx h3{
    font-size: 1rem;
}
.innerboxx p{
    font-size: 1rem;
}
.inneboxone1{
    display: flex;
    flex-direction: column;
}

.logobox{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin: 5px 10px 0px 5px;
}
.graybox{
    background-color: hsla(240, 5%, 25%, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #E7E7E4;
}
.grayinner{
    display: flex;
    width: 90%;
 
    min-height: 200px;
    border-radius: 10px;  
    justify-content: center;
    align-items: center;
}
.bb1{
    min-height: 200px;
    width: fit-content;
    margin: 0;
    font-size: 0.4em;
    justify-content: center;
    align-items: center;
    border: 1px solid hsla(240, 6%, 20%, 1);
}
.bb1 .logobox{
    height: 60px;
    width: 60px;
}
.bb1 h1{
    transform: scale(0.95);
}
.dummyimg{
    background-color: black;
    width: fit-content;
    height: fit-content;
    margin: 70px;
    color: white;
    display: flex;
    padding: 30px;
    border-radius: 5px;
}
.imginsidedummy{
    background-image: url('../images/homepage/dummyimg.jpg');
    height: 300px;
    width: 600px;
    margin-right: 50px;
    border-radius: 5px;
    background-size: cover;
}
.cmty-btn{
    margin: 50px;
    border: 1px solid hsla(240, 6%, 20%, 1);
    transform: scale(1.5);
    transition: 1s;
}

.cmty-btn:hover{
    transform: scale(1.6);
}
#abt{
    height: 840px;
    background-color: #E7E7E4;
    display: flex;
}
.abtclass{
    background-color: white;
}
.abtimg
{
    background-image: url('../images/homepage/abtpagecontent.png');
    background-size: cover;
    height: 100%;
    width: 50vw;
}
.abtimgcont
{
    background-image: url('../images/homepage/rightabt.png');
    background-size: cover;
    height: 100%;
    width: 50vw;
}
.logcontent{
    width: 90vw;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.logs{
    width: 20%;
    height: 100%;
    color: white;
}

.logs h1{
    font-size: 70px;
}
.footer{
    height: auto;
    width: 100%;
    background-color: black;
}
.footer  ul{
   display: flex;
   list-style-type: none;
   font-size: 0.6em;
   color: white;
   align-items: center;

   margin: 0;
}
.footer li{
    padding: 0 20px;
}
.boxinsidecb h3:hover{
    transform: scale(1.03);
    cursor: pointer;
}



#cont
{
    font-family: 'Bebas Neue',sans-serif;
    height: 800px;
    display: flex;
    
}
.contclass{
    display: block;
    width: 100vw;
}
.contdesc
{
    height: 800px;
    width: 50%;
    background-color: black;
    color: azure;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contimg
{
    background-image: url('../images/homepage/contimg.png');
    background-size: cover;
    width: 50%;
    
}
.conth3
{
    color:black;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 36px;
    font-style: normal;
}
.contcontainer
{
    background-color: white;
    height: 500px;
    width: 60%;
    border-radius: 10px;
}
.continp
{
    
    background-color: black;
    color:white;
    width: 310px;
    height: 35px;
    border-radius: 10px;
    margin-left: 8%;
    margin-top: 20px;
    border-color: ghostwhite;
    border-width: 0.5px;
    font-size: 13px;
}
.continptarea
{
    height: 150px;
    width: 300px;
    margin-left: 8%;
    margin-top: 15px;
    background-color: black;
    color:white;
    border-radius: 10px;
}
.continpbut
{
    margin-top: 20px;
    background-color: black;
    color:white;
    border-radius: 10px;
    height: 35px;
    width: 150px;
    cursor: pointer;
    margin-left: 45px;
}



.homepage-content {
    transition: filter 0.3s ease;
  }
  
  .homepage-content.blurred {
    filter: blur(2px);
  }

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    border: 1px solid #E6E6E6;
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .popup-button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup-button.confirm {
    background-color: #007bff;
    color: white;
  }
  
  .popup-button.cancel {
    background-color: #dc3545;
    color: white;
  }
  