.login_container
{
    background-color: black;
    width: 45%;
    height: fit-content;
    min-height: 500px;
    margin-left: 28%;
    margin-top: 8%;
    border-radius: 15px;
}
.ltext
{
  color: white;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 60px;
  text-align: center;
  border-radius: 15px;
  padding-top: 20px;
}

.loginbutton
{

 margin-top: 10px;
 width: 300px;
 height: 50px;
 border-radius: 30px;
 font-size: 20px;
}

hr
{
  width: 290px;
  margin-top: 20px;
}

.sutext
{
  background-color: black;
  color: white;
 
}

.inputl
{
  background-color: black;
  color:white;

  
}

u
{
  background-color: black;
  color: white;
}

.finalbutton1
{
  height: 40px;
  width: 120px;
  border-radius: 30px;
  text-align: center;
}

.buttondiv{
    display: flex;
    align-items: center;
    
}